*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 3px;
}

body {
  margin: 0;
  padding: 0;
  background: url("/assets/images/bgs/bg-challenges-mask.png") repeat !important;
  color: #fff;
}

/* iphone X , XS, 11 Pro */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
  body {
    background: #000 url("/assets/images/bgs/bg-challenges.png") repeat !important;
    -ms-zoom: 0.78;
    -moz-transform: scale(0.78);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.78);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.78);
    -webkit-transform-origin: 0 0;
  }
}

/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) {
  body {
    background: #000 url("/assets/images/bgs/bg-challenges.png") repeat !important;
    -ms-zoom: 0.82;
    -moz-transform: scale(0.82);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.82);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.82);
    -webkit-transform-origin: 0 0;
  }
}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) {
  body {
    background: #000 url("/assets/images/bgs/bg-challenges.png") repeat !important;
    -ms-zoom: 0.82;
    -moz-transform: scale(0.82);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.82);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.82);
    -webkit-transform-origin: 0 0;
  }
}



h1 {
  font-size: 14px
}

h2 {
  margin: 0 0 5px;
  text-align: center;
}


h3 {
  text-align: center;
  font-size: 24px;
  margin: 0;
}

h4 {
  text-align: center;
  font-size: 20px;
  margin: 15px 0 0 0;
}

label {
  display: inline-block;
  margin:0 !important;
}

p {
  margin: 0 !important;
}

input,
textarea,
select,
.btn {
  outline: none;
  padding:0 !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../assets/images/select_caret.png) no-repeat !important;
  background-size: 15px !important;
  background-position: calc(100% - 8px) center !important;
  background-repeat: no-repeat !important;
  background-color: #121212 !important;
  color: #333;
  padding: 0px;
}

.update-warning {
  width: 100%;
  background: #800000;
  color: #eee;
  text-align: center;
  padding: 10px;
  position: fixed;
  z-index: 9909;
  display: none;
  /* When the time comes, you gotta run and change this to block. This is a warning. */
}

#main-header {
  display: flex;
  margin: 10px;
}

#main-header::after {
  clear: both;
}

#main-header-center {
  flex-grow: 1;
  height: 75px;
  background-image: url(../../assets/images/header_bg_center.png);
  background-repeat: repeat-x;
  background-size: auto 75px;
  padding: 6px 0;
}

#main-header-center>span {
  font-family: RDRLino, serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
}

#main-header-left,
#main-header-right {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  height: 75px;
}

#sub-header {
  font-size: 14px;
  color: #cacaca;
}

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  margin: 12px 0;
}

.header-title {
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  line-height: normal;
  margin: 0 12px;
  text-align: center;
}

.header-border {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  min-width: 40px;
  position: relative;
}

.header-border:after {
  background-image: url(../../assets/images/header_border_divider.png);
  background-repeat: repeat-x;
  background-size: auto 3px;
  top: 18px;
  content: " ";
  height: 3px;
  position: absolute;
  width: 100%;
  left: 0;
}

.menu-divider {
  height: 3px;
  border: none;
  background-image: url(../../assets/images/header_border_white.png);
  background-repeat: repeat-x;
  background-size: auto 3px;
  margin: 6px auto;
  opacity: 0.15;
}

.filter-alert {
  position: absolute;
  z-index: 990;
  text-align: center;
  cursor: pointer;
  background-image: url(../images/menu_roller_on.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  padding: 10px 25px;
  text-align: center;
}

@media (max-width: 1024px) {

  .filter-alert {
    left: 2px;
    right: 2px;
    bottom: 2px;
  }
}

@media (min-width: 1025px) {

  .filter-alert {
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
  }
}

.filter-alert .close-button {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 27px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.top-widget {
  z-index: 1010;
  position: fixed;
  left: 40px;
  top: 3px;
  height: 34px;
  width: 130px;
  background-image: url(../../assets/images/timer_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5px;
  color: #fff;
  text-align: center;
  user-select: none;
  transition: all 200ms ease-out;
}

.top-widget>* {
  display: inline-block;
  line-height: 18px;
}

.top-widget>p {
  margin-right: 2px !important;
  cursor: pointer;
}

#day-cycle {
  margin-top: -2px;
  width: 16px;
  height: 16px;
  border: none;
}

.white-line-divider {
  margin: 15px 0 2px 0;
  height: 10px;
  background-image: url(../../assets/images/header_border_divider.png);
  background-repeat: repeat-x;
  background-size: auto 3px;
}

.save-button,
.remove-button {
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  margin-top: 8px;
}


.settings-container {
  padding: 0 10px;
  /*margin: 5px 0;*/
  margin: 5px;
}

.input-search {
  background-color: #383838;
  border: none;
  padding: 5px;
  color: #f0f0f0;
  font-size: 14px;
  width: 100%;
  border-radius: 3px;
}

.input-file {
  background-image: url(../images/menu_highlight.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  padding: 6px 16px;
  color: #f0f0f0;
  font-size: 14px;
  border-radius: 3px;
}

.input-container {
  position: relative;
  user-select: none;
  display: flex;
  justify-content: space-between;
  padding: 0 0 2px 0;
}

.input-container-noflex {
  user-select: none;
  margin: 5px 0 0 0;
  text-align: center;
}

.input-container-noflex .btn {
  margin: 6px 0;
}

.btn-default {
  background-color: #383838;
  min-width: 40%;
  font-weight: 500;
  color: #fff;
  border: 1px solid #999;
}

.input-text {
  background: #383838;
  border: none;
  padding: 4px 10px;
  color: #f0f0f0;
  font-size: 13px;
  height: 100%;
  border-radius: 3px;
  margin-left: 6px;
  text-overflow: ellipsis;
}

.input-container-noflex .input-text {
  margin-left: 0;
}

.input-text:disabled {
  cursor: not-allowed;
}

.input-checkbox-wrapper .input-checkbox+.input-checkbox-label,
.input-text,
.input-action {
  margin-top: 5px;
}



.input-container label {
  line-height: 24px;
  width: 100%;
  text-align: left;
  margin: 9px 0 0 0;
}


/* Custom checkbox styling */

.input-checkbox-wrapper {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-left: 6px;
}

.input-checkbox-wrapper .input-checkbox {
  display: none;
}

.input-checkbox-wrapper .input-checkbox-label {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/selection_boxes.png);
  background-position: left center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer !important;
}

.input-checkbox-wrapper .input-checkbox:checked+.input-checkbox-label {
  background-position: right center;
}

.input-checkbox-wrapper .input-checkbox:disabled+.input-checkbox-label {
  cursor: not-allowed !important;
}


/* Custom action button styling */

.input-container,
.input-container label {
  cursor: pointer !important;
}

.input-container.disabled,
.input-container.disabled label {
  cursor: not-allowed !important;
}

.input-action {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  background-image: url(../images/action_indicator.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-left: 6px;
}

.input-action.external {
  background-image: url(../images/action_indicator_external.png) !important;
}

.input-action-copy,
.input-action-clear {
  width: 30px;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 6px;
  cursor: pointer;
}

.input-action-copy {
  background-image: url(../images/action_indicator_copy.png);
}

.input-action-clear {
  background-image: url(../images/action_indicator_clear.png);
}

.input-selection-arrow {
  cursor: pointer;
}

.input-selection-arrow img {
  height: 16px;
  width: auto;
}

a.no-style {
  color: #fff;
  text-decoration: none;
}

a.no-style:hover {
  color: #fff;
}

a.no-style:visited {
  color: #fff;
  text-decoration: none;
}

/* Donate form */

.donate-form {
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/menu_donate.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10px;
}

.donate-form-daily {
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/menu_donate.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10px;
  width: 360px;
}

.donate-form .input-text {
  margin: auto 0 auto auto;
}


/* Freemode Events */

#fme-container {
  position: absolute;
  left: 10px;
  top: 55px;
  z-index: 990;
  user-select: none;
  transition: all 200ms ease-out;
}

#fme-container.fme-menu-opened {
  left: 405px;
}

#fme-container .fme-card {
  display: flex;
  align-items: center;
  background-image: url(../../assets/images/fme_background.png);
  background-size: 100% 100%;
  padding: 25px;
  width: 445px;
  max-width: 445px;
  color: #fff;
}

#fme-container .fme-card .fme-image {
  margin-right: 12px;
  height: 66px;
}

#fme-container .fme-card .fme-body {
  flex-grow: 1;
}

#fme-container .fme-card .fme-body .fme-title {
  font-family: RDRLino, serif;
  color: #7b66af;
  margin: 0;
  text-align: left;
  font-size: 24px;
  line-height: 1;
}

#fme-container .fme-card .fme-body .fme-text {
  margin: 0;
  text-align: left;
  font-size: 18px;
}

#fme-container .fme-card #next-general-mobile,
#fme-container .fme-card #next-role-mobile {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#fme-container .fme-card .fme-body {
  display: block;
}

@media (max-width: 1024px) {
  #fme-container {
    right: 50px;
  }

  #fme-container .fme-card {
    padding: 10px 20px 10px 10px;
    width: initial;
  }

  #fme-container .fme-card #next-general-mobile,
  #fme-container .fme-card #next-role-mobile {
    display: block;
  }

  #fme-container .fme-card .fme-body {
    display: none;
  }

  #fme-container .fme-card .fme-image {
    width: 32px;
    height: auto;
    margin-right: 8px;
  }
}

.weekly-collection-wrapper {
  margin: 50px auto;
  padding: 25px;
  background: #111;
  width: 850px;
  min-height: 400px;
  text-align: center;
}

.weekly-collection-desc {
  margin: 25px 0px 0px 0px;
  padding: 0px;
  text-align: center;
  font-size: 18px;
  font-family: HapnaSlab, serif;
  color: #fff;
  letter-spacing: 0.8px;
  word-spacing: 0.5px;
  line-height: 32px;
  text-shadow: 2px 2px #000;
}

.weekly-collection-image {
  margin-top: 0px;
  padding: 0;
  width: 800px;
  height: 380px;
}

.weekly-collection-dailies-image {
  margin-top: 0px;
  padding: 0;
  width: 580px;
  height: 276px;
}



#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background: #353535 url('/assets/images/daily-challenges/bg-challenges.png');
  display: none;
  height: 100%;
  height: 100vh;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 340px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  background: #222 url('/assets/images/side-menu-bg-smaller.png');

}

#boxes #dialog {
  width: 500px;
  height: 340px;
  padding: 20px;
  font-size: 15px;
  font-family: HapnaDemiBold, serif;
  letter-spacing: 1px;
  word-spacing: 0px;
}

#popupfoot {
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  width: 250px;
  left: 250px;
}


.modal-content {
  background: #000 url('/assets/images/bgNavOverflow.png'); 
  background-repeat: no-repeat;  
  background-position: center;
  background-size: 550px 520px;
  width:550px;
  height:520px;
}

.modal-header-title {
  font-family: RDRLino, serif;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  color:#fff;
  margin:40px 18px 5px 18px;
  line-height:38px;
}

.modal-body-text {
  color:#fff;
  margin:2px 50px;
  text-align: center;
}

.modal-text {
  font-size: 16px;
  font-family: HapnaDemiBold, serif;
  letter-spacing: 1px;
  word-spacing: 0px;
  text-align: center;
  padding:10px;
}

.donate-modal {
  margin: 5px 80px;
  display: flex;
  justify-content: space-between;
  background-image: url(../images/menu_roller_on.png);
  background-size: 290px 52px;
  background-repeat: no-repeat;
  padding: 10px;
  width: 290px;
}